# Clock and Buttons
IO_LOC  "sys_clk_in" 52;
IO_PORT "sys_clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "reset_n" 4;
IO_PORT "reset_n" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "button_mode" 3;
IO_PORT "button_mode" IO_TYPE=LVCMOS18 PULL_MODE=UP;

# LCD Signals
IO_LOC "lcd_clk" 35;
IO_PORT "lcd_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;

IO_LOC "lcd_hsync" 40;
IO_PORT "lcd_hsync" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;

IO_LOC "lcd_vsync" 34;
IO_PORT "lcd_vsync" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;

IO_LOC "lcd_den" 33;
IO_PORT "lcd_den" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;

IO_LOC "lcd_bl" 86;
IO_PORT "lcd_bl" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;

# RGB output bit pins
IO_LOC "lcd_red[4]" 71;  IO_PORT "lcd_red[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_red[3]" 72;  IO_PORT "lcd_red[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_red[2]" 73;  IO_PORT "lcd_red[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_red[1]" 74;  IO_PORT "lcd_red[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_red[0]" 75;  IO_PORT "lcd_red[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;

IO_LOC "lcd_green[5]" 55; IO_PORT "lcd_green[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_green[4]" 56; IO_PORT "lcd_green[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_green[3]" 57; IO_PORT "lcd_green[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_green[2]" 68; IO_PORT "lcd_green[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_green[1]" 69; IO_PORT "lcd_green[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_green[0]" 70; IO_PORT "lcd_green[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;

IO_LOC "lcd_blue[4]" 41; IO_PORT "lcd_blue[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_blue[3]" 42; IO_PORT "lcd_blue[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_blue[2]" 51; IO_PORT "lcd_blue[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_blue[1]" 53; IO_PORT "lcd_blue[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;
IO_LOC "lcd_blue[0]" 54; IO_PORT "lcd_blue[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12;

# SPI Initialization Pins
IO_LOC "spi_res" 25; IO_PORT "spi_res" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "spi_cs" 26; IO_PORT "spi_cs" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "spi_clk" 27; IO_PORT "spi_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "spi_di" 28; IO_PORT "spi_di" IO_TYPE=LVCMOS33 PULL_MODE=UP;